@font-face {
  font-family: 'Proxima Nova Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova Regular"), url("../fonts/Mark Simonson - Proxima Nova Regular.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Pro"), url("../fonts/GothaProReg.woff") format("woff");
}

@font-face {
  font-family: 'GothamHTF-Book';
  font-style: normal;
  font-weight: normal;
  src: local("GothamHTF-Book"), url("../fonts/GothamHTF-Book.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Pro Light"), url("../fonts/GothaProLig.woff") format("woff");
}

h1, h2, h3, h4, h5 {
  font-family: "GothamHTF-Book";
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

.torq-btn, .pink-btn {
  border-radius: 2px;
  background-color: #176864;
  color: #fff;
  font-family: "Gotham Pro";
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 1em;
  display: inline-block;
  font-weight: 500;
}

.torq-btn:hover, .pink-btn:hover {
  background: #176864;
  opacity: .9;
  color: #fff;
}

.pink-btn {
  background: #9c2066;
}

.pink-btn:hover {
  opacity: .9;
  color: #fff;
  background: #9c2066;
}

.md-btn {
  padding: 12px 30px;
  font-size: 1.125em;
}

.lg-btn {
  padding: 0.8125em 2.1875em;
}

.blue-border {
  border: 2px solid #4168c6;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  font-family: "Work Sans", sans-serif;
  color: #4168c6;
}

.blue-border:hover {
  background: #4168c6;
  color: #fff;
}

.transparent {
  background: transparent;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
  font-family: "GothamHTF-Book";
}

select {
  padding: 7px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: none;
  width: 100%;
  font-family: "GothamHTF-Book";
  background: url(../img/arrows.png) no-repeat !important;
  background-position: 95% center !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

ul.pagination {
  display: block;
  margin-left: -0.27778rem;
  min-height: 1.33333rem;
  margin-top: 30px;
}

ul.pagination li {
  display: block;
  float: left;
  color: #222222;
  font-size: 0.77778rem;
  height: 1.33333rem;
  margin-left: 0.27778rem;
}

ul.pagination li .unavailable a, ul.pagination li .unavailable button {
  cursor: default;
  color: #999999;
  pointer-events: none;
}

ul.pagination li a, ul.pagination li button {
  border-radius: 3px;
  transition: background-color 300ms ease-out;
  background: none;
  color: #999999;
  display: block;
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
  padding: 5px 10px;
  border: 1px solid rgba(204, 204, 204, 0.29);
}

ul.pagination li a.current, ul.pagination li button.current {
  background: #BC2232;
  color: #fff;
}

.breadcrumbs-ctn {
  padding: 20px 0;
}

.breadcrumbs {
  list-style: none;
  margin: 0 0 1rem 0;
  font-family: "Work Sans", sans-serif;
}

.breadcrumbs:before, .breadcrumbs:after {
  content: ' ';
  display: table;
}

.breadcrumbs li {
  float: left;
  color: #0a0a0a;
  cursor: default;
  text-transform: uppercase;
}

.breadcrumbs li:not(:last-child):after {
  color: #9c2066;
  content: "/";
  margin: 0 0.75rem;
  position: relative;
  top: 1px;
  opacity: 1;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0;
}

table thead, table tfoot {
  background: #f8f8f8;
  color: #0a0a0a;
}

table thead, table tbody, table tfoot {
  border: 1px solid #f1f1f1;
  background-color: #fefefe;
}

table thead tr, table tfoot tr {
  background: transparent;
}

table thead th, table thead td, table tfoot th, table tfoot td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
  text-align: left;
}

table tbody th, table tbody td {
  padding: 0.9rem 1.425rem 0.9rem;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.button {
  font-size: 0.875em;
  font-family: "GothamHTF-Book";
}

.alert-box {
  padding: 10px 15px;
}

.row {
  max-width: 1000px;
}

body {
  font-family: "GothamHTF-Book";
  font-size: 0.875em;
}

p {
  margin-bottom: 0;
}

header {
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.88);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.jumbotron {
  background: url(../img/background.jpg);
  background-position: center center;
  background-size: cover;
  padding: 0px 0;
}

.loan-bg {
  background: url(../img/bg-loan.jpg);
  background-position: center center;
  background-size: cover;
  padding: 0px 0;
}

ul.links {
  margin-top: 6px;
}

ul.links li {
  display: inline-block;
}

ul.links li a {
  color: #444;
  font-weight: 500;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 0.875em;
  text-decoration: none;
  font-family: "Gotham Pro";
  padding: 10px 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  transition: all 300ms ease;
}

ul.links li a:hover {
  text-decoration: none;
}

ul.links li a.save-link {
  background: #176860;
  color: #fff;
}

ul.links li a.save-link:hover {
  background: #0e3e39;
}

ul.links li a.loan-link {
  background: #9c2066;
  color: #fff;
}

ul.links li a.loan-link:hover {
  background: #72174a;
}

ul.links li a.login-link {
  border: 2px solid #176860;
  color: #176860;
  padding: 8px 15px !important;
  font-weight: 600;
}

ul.links li a.login-link:hover {
  background: #176860;
  color: #fff;
}

ul.links li a.menu-link {
  background: #292526;
  color: #fff;
}

ul.links li a.menu-link i {
  margin-left: 10px;
}

.phone-ctn {
  border: 2px solid #176860;
  color: #176860;
  padding: 8px 15px !important;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-left: 15px;
}

.phone-ctn p {
  font-size: 1em;
  font-weight: 500;
}

.navigation {
  margin-top: 2px;
}

.jumbotron-text {
  color: #fff;
  padding: 100px 0px;
}

.jumbotron-text h1 {
  font-size: 3em;
  font-weight: 500;
  color: #fff;
  width: 45%;
  line-height: 1.2;
}

.jumbotron-text .subtext {
  font-size: 1.5em;
  margin-top: 1.25em;
  margin-bottom: 30px;
}

.jumbotron-text a {
  margin-right: 20px;
  margin-bottom: 15px;
}

.jumbotron-text a:last-child {
  margin-right: 0;
}

.bighr {
  background: #292526;
  padding: 40px 0;
}

.bighr h1 {
  font-size: 3em;
  color: #fff;
  font-weight: 400 !important;
}

.bighr h1 span {
  color: #00e676;
  font-weight: 700;
}

.bighr p {
  color: #fff;
  padding-left: 20px;
  font-size: 1em;
}

.bank-go {
  background: url(../img/on-the-move.jpg);
  background-position: top left;
  background-size: cover;
  padding: 70px 0;
}

.bank-go-text {
  float: right;
  width: 45%;
  margin-right: 40px;
  color: #fff;
}

.bank-go-text h1 {
  font-size: 3.375em;
  color: #fff;
  margin-bottom: 30px;
}

.bank-go-text h3 {
  color: #fff;
}

.bank-go-text p {
  font-size: 1.125em;
  margin-bottom: 20px;
}

.whyus {
  padding: 45px 0;
  background: #f8f8f8;
}

.whyus h1 {
  text-align: center;
  font-weight: 600 !important;
  color: #292526;
  margin-bottom: 80px;
}

.whyus img {
  max-height: 60px;
  margin-bottom: 10px;
}

.whyus .subject-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Gotham Pro";
  margin-bottom: 15px;
}

.whyus .body-text {
  font-size: 1em;
}

.prod-box {
  min-height: 210px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.about-vfd {
  background: url(../img/about.jpg);
  background-position: top left;
  background-size: cover;
  padding: 70px 20px;
}

.about-vfd p {
  color: #fff;
  font-size: 1.75em;
  width: 60%;
  margin-bottom: 20px;
}

.footer {
  background: #313131;
  padding: 40px 0;
  color: #fff;
}

.footer img {
  margin-bottom: 10px;
}

.footer .copyright {
  margin-bottom: 20px;
}

.footer p {
  font-size: 0.875em;
  line-height: 1.5;
}

.footer .footer-title {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Gotham Pro";
  margin-bottom: 10px;
}

.footer ul {
  margin-bottom: 20px;
}

.footer li {
  margin-bottom: 0px;
}

.footer li a {
  color: #f8f8f8;
  font-size: 0.75em;
  transition: all 400ms ease;
}

.footer li a:hover {
  color: #9c2066;
}

.footer li i {
  margin-right: 5px;
  display: inline-block;
}

.footer .social {
  margin-top: 20px;
}

.footer .social a {
  display: inline-block;
  color: #fff;
  margin-right: 15px;
}

.footer .social a i {
  font-size: 1.125em;
}

#nav-icon1 {
  width: 30px;
  height: 25px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 16px;
  margin-right: 20px;
  right: 0;
  z-index: 99999;
  display: none;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #41A4F4;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.error {
  border: 2px solid #de2d0f !important;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #176864;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  right: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.mobile-menu {
  background: #2c2c2c;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
  z-index: 999999;
}

.menu-ctn {
  position: absolute;
  width: 100%;
  top: 24%;
}

.menu-ctn a {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-family: "GothamHTF-Book";
  padding: 10px 0;
  font-weight: 600;
  color: #00e676;
  font-size: 1.2rem;
}

.close-menu {
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 30px;
  color: #fff;
}

.product-ctn .breadcrumbs {
  padding: 40px 0;
  background: none;
  border: none;
  margin-bottom: 0;
}

.product-ctn .breadcrumbs li {
  text-transform: none;
  font-size: 1.125em;
  color: #808080;
}

.product-ctn .breadcrumbs li a {
  text-decoration: none;
  color: #176860;
}

.product-image {
  padding: 40px 0;
  background-position: center center;
  background-size: cover;
  background: url(../img/buyback.jpg);
}

.product-image h2 {
  color: #fff;
  margin: 0;
}

.product-desc {
  margin: 40px 0 80px;
}

.product-desc h3 span {
  display: block;
  height: 5px;
  width: 6%;
  min-width: 40px;
  background: #9c2066;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.product-desc p {
  font-size: 1em;
  line-height: 1.7;
  margin-bottom: 15px;
  font-weight: 400;
  color: #2c2c2c;
  padding-right: 30px;
}

.product-desc p span {
  font-weight: 600;
  color: #292526;
}

.product-desc p.quote {
  background: #ededed;
  border-left: 5px solid #9c2066;
  padding: 19px 20px;
  font-size: 1.125em;
  color: #3c3c3c;
  font-weight: 600;
  margin: 20px 0;
  margin-right: 30px;
  font-style: italic;
  line-height: 1.6;
}

.product-desc ul {
  margin-top: 10px;
}

.product-desc ul li {
  font-size: 0.875em;
  margin-bottom: 5px;
}

.product-desc ul li i {
  margin-right: 3px;
  color: #9c2066;
}

.apply-brochure {
  margin-top: 30px;
}

.apply-brochure a {
  margin-right: 20px;
}

.apply-brochure a:last-child {
  margin-right: 0;
}

.product-links {
  background: #F2F2F2;
}

.product-links ul li {
  border-bottom: 1px solid #fff;
}

.product-links ul li a {
  border-left: 5px solid transparent;
  padding: 14px 15px 14px 18px;
  font-size: 0.875em;
  font-weight: 600;
  color: #292526;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-links ul li a.active, .product-links ul li a:hover {
  border-left: 5px solid #9c2066;
}

.lease-terms p {
  margin-bottom: 5px;
}

.download-brochure {
  margin-top: 30px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
}

.download-brochure p {
  font-size: 1.125em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.download-brochure h3 {
  margin-top: 0;
}

.about-us {
  background: url(../img/about-img.jpg);
  background-position: center center;
  background-size: cover;
}

.invest-img {
  background: url(../img/invest.jpg);
  background-position: center center;
  background-size: cover;
}

.cash-adv {
  background: url(../img/cash-adv.jpg);
  background-position: center center;
  background-size: cover;
}

.bridge-img {
  background: url(../img/bridge-img.jpg);
  background-position: center center;
  background-size: cover;
}

.contact-img {
  background: url(../img/contact.jpg);
  background-position: center center;
  background-size: cover;
}

.board {
  margin-top: 50px;
}

.board .member {
  padding: 25px 0 15px;
  border-bottom: 1px solid #ccc;
  margin-right: 30px;
}

.board .member.first {
  padding-top: 0;
}

.board .member.last {
  border-bottom: none;
}

.board p {
  margin-right: 0;
}

.board .name {
  font-weight: 600;
  color: #176864;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.board .name span {
  display: block;
  margin-top: -4px;
  font-weight: 600;
  color: #292526;
  font-size: 0.75em;
}

.contact-form {
  margin: 30px 0;
}

.contact-form p {
  padding-right: 0;
}

.contact-form button {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  width: 150px;
  padding: 11px;
  font-size: 1em;
  margin-top: 10px;
}

.contact-form button i {
  margin-left: 10px;
  margin-top: 1px;
}

.text-side, .textbox-side {
  width: 50%;
  float: left;
  padding-right: 20px;
}

.text-side label, .textbox-side label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #292526;
}

.text-side label span, .textbox-side label span {
  color: #9c2066;
}

.text-side input[type="text"], .text-side [type="email"], .text-side [type="tel"], .text-side textarea, .textbox-side input[type="text"], .textbox-side [type="email"], .textbox-side [type="tel"], .textbox-side textarea {
  border: 2px solid #ccc;
  margin-bottom: 20px;
  padding: 20px 15px;
  font-size: 1em;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.text-side textarea, .textbox-side textarea {
  min-height: 224px;
  max-height: 224px;
}

.textbox-side {
  padding-left: 20px;
  padding-right: 0;
}

.building-img {
  background: url(../img/building.jpg);
  background-size: cover;
  background-position: center center;
  padding: 30px;
  position: relative;
}

.building-img p {
  color: #fff;
}

.building-img p.header {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 15px;
}

.building-img p.addy:before, .building-img p.tely:before, .building-img p.emaily:before {
  content: '\f041';
  font-family: 'fontawesome';
  position: absolute;
  left: 30px;
}

.building-img p.addy span, .building-img p.tely span, .building-img p.emaily span {
  color: #fff;
  margin-left: 25px;
  display: inline-block;
}

.building-img p.tely:before {
  content: '\f10b';
}

.building-img p.emaily:before {
  content: '\f0e0';
  left: 28px;
}

.alert {
  background-color: #E94848 !important;
}

.alert .close {
  color: #fff !important;
}

.loan-calc {
  width: 450px;
  padding: 50px 0 100px;
}

.loan-calc h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  line-height: 1.1;
}

.irs-from, .irs-to, .irs-single {
  font-size: 14px;
  background: #176860;
  margin-top: -6px;
  margin-left: 0px;
  padding: 4px 8px;
}

.loan-calc-ctn {
  background: #fff;
}

.loan-amt, .loan-lenght {
  border-bottom: 1px solid #ccc;
  padding: 25px 30px;
}

.loan-amt p, .loan-lenght p {
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875em;
  color: #585858;
}

.loan-lenght {
  border-bottom: none;
}

.loan-sum {
  background: #313131;
  color: #fff;
  text-align: center;
}

.loan-sum .loan {
  padding: 20px 30px;
  border-bottom: 1px solid #585858;
  margin: 0 10px;
}

.loan-sum .loan p {
  display: inline-block;
  width: 80px;
  text-transform: uppercase;
  font-weight: 600;
}

.loan-sum .loan p.orig-amt:after, .loan-sum .loan p.equals:after {
  content: "+";
  position: absolute;
  margin-left: 15px;
  margin-top: 0px;
}

.loan-sum .loan p.equals:after {
  content: "=";
}

.loan-sum .loan p span {
  font-size: 0.75em;
  font-weight: normal;
}

.apply-for-loan {
  padding: 30px 0;
}

.apply-for-loan a {
  width: 80%;
}

.loan-work {
  text-align: center;
  padding: 30px 0;
  color: #fff;
  background: #176860;
}

.loan-work h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.loan-work p {
  font-size: 1.5em;
}

.arrow-down {
  width: 0;
  height: 0;
  border-top: 70px solid #176860;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  margin-top: -40px;
}

.loan-steps {
  padding: 30px 0;
  position: relative;
}

.loan-steps p {
  margin-bottom: 5px;
}

.loan-steps h4 {
  color: #176860;
}

.loan-steps .clearfix {
  position: relative;
}

.loan-steps .num {
  width: 40px;
  height: 40px;
  padding: 10px 8px 8px 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  background: #176860;
  z-index: 9999;
  position: absolute;
  text-align: center;
  right: -20px;
  top: 120px;
}

.step-loan {
  position: relative;
  width: 50%;
  border-right: 1px solid #176860;
  float: left;
  padding: 50px 40px;
}

.loan-step-img {
  position: relative;
  float: left;
  width: 50%;
  padding: 50px 40px;
}

.loan-step-img img {
  margin-top: 19px;
}

.reverse .loan-step-img {
  border-left: 1px solid #176860;
  margin-left: -1px;
}

.reverse .step-loan {
  text-align: right;
}

.reverse .step-loan img {
  margin-top: 40px;
}

.left-img {
  display: none;
}

/********* CUSTOM RADIO BUTTON **************/
.radio-loan div {
  display: inline-block;
}

.radio-loan input[type="radio"] {
  display: none;
}

.radio-loan input[type="radio"] + label {
  color: #292321;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.radio-loan input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.radio-loan input[type="radio"] + label span {
  background-color: #fff;
  border: 3px solid #2c2c2c;
}

.radio-loan input[type="radio"]:checked + label span {
  background-color: #006A5A;
  padding: 0px;
  box-sizing: border-box;
  border: 3px solid #313131;
}

.radio-loan input[type="radio"] + label span,
.radio-loan input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.faq-section {
  background: #176860;
  color: #fff;
  padding: 50px 0 100px;
}

.faq-section h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 70px;
  line-height: 1.5;
}

.faq-section h3 {
  text-align: center;
  margin-bottom: 20px;
}

.question-box {
  padding: 20px 0;
  border-bottom: 1px solid #488A84;
}

.question-box:first-child {
  border-top: 1px solid #488A84;
}

.question-box h4 {
  cursor: pointer;
  margin-top: -5px;
  float: left;
  margin-bottom: 0;
  width: 88%;
  line-height: 1.5;
}

.question-box i {
  margin-right: 20px;
  font-size: 16px;
  float: left;
}

.question-box .answer-box {
  margin-left: 33px;
  display: none;
  margin-top: 15px;
}

.question-box .answer-box p {
  font-size: 1em;
}

.new-customers {
  margin-bottom: 50px;
}

.login-section {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  -moz-transition: ease .3s;
  -o-transition: ease .3s;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.form-section, .logo-section {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  background: #fff;
}

.form-section {
  background: #dedede;
}

.logo-section .image-logo {
  margin: 0 auto;
  max-width: 450px;
  clear: both;
}

.form-logo {
  text-align: center;
  margin-bottom: 20px;
  display: none;
}

.login-form {
  width: 340px;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.login-form .form-title {
  background: #176860;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.25em;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form a {
  color: #176860;
  text-align: center;
}

.login-form p {
  color: #292526;
  font-size: 1em;
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
}

.login-form p a {
  text-decoration: underline;
}

.login-form p.pw-reset {
  text-align: left;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0;
}

.login-form form {
  padding: 35px 30px 20px;
}

.login-form form input[type="text"], .login-form form input[type="email"], .login-form form input[type="password"] {
  border: 2px solid #ccc;
  padding: 20px 10px;
  font-size: 1em;
  box-shadow: none;
  margin-bottom: 20px;
}

.login-form form input[type="submit"] {
  border: none;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 15px;
}

/******* DASHBOARD ********/
.dash-head {
  background: #303030;
}

.dash-head .dash-logo {
  padding: 10px 0;
}

.dash-head ul {
  float: right;
  margin-right: 30px;
  margin-top: 17px;
}

.dash-head ul li {
  display: inline-block;
  margin: 0 15px;
  font-size: 0.875em;
}

.dash-head ul li a {
  color: #fff;
  text-transform: uppercase;
}

.name-profile {
  padding: 10px 15px;
  float: right;
  background: #292526;
  cursor: pointer;
}

.name-profile .profile-thumb {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f8f8f8;
}

.name-profile .profile-thumb img {
  max-width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.name-profile span {
  float: left;
  margin-top: 9px;
  margin-left: 10px;
  text-transform: capitalize;
  color: #fff;
}

.name-profile span i {
  margin-left: 5px;
}

.dash-ctn {
  padding: 50px 0 100px;
}

.loan-apply {
  background: #F0F0F0;
  padding: 15px 0;
}

.loan-apply p {
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 600;
}

.form-steps-hd h4 {
  text-transform: uppercase;
  color: #176864;
  text-align: center;
}

.dob {
  background: url(../img/time.png) no-repeat !important;
  background-position: 95% center !important;
}

.form-steps {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.form-steps p {
  width: 33.3%;
  text-align: center;
  border-right: 1px solid #ccc;
  float: left;
  padding: 10px 0;
  background: #f8f8f8;
}

.form-steps p:before {
  content: '2';
  width: 24px;
  border-radius: 20px;
  display: inline-block;
  background: #fff;
  font-size: 15px;
  color: #176864;
  margin-right: 7px;
}

.form-steps p:first-child:before {
  content: '1';
}

.form-steps p:last-child {
  border-right: none;
  width: 33.4%;
}

.form-steps p:last-child:before {
  content: '3';
}

.form-steps p.current {
  background: #176864;
  color: #fff;
  font-weight: 600;
  border-right: 1px solid #176864;
}

.form-field {
  position: relative;
}

.saving-message {
  margin-top: 50px;
}

.saving-message .alert-box {
  padding: 20px;
}

.material-datepicker {
  top: 69px !important;
  left: 0 !important;
  font-family: "GothamHTF-Book" !important;
}

.loan-form {
  border: 1px solid #E3E3E3;
  padding: 30px;
  margin-top: 30px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}

.loan-form p {
  font-size: 1em;
  margin-bottom: 10px;
}

.loan-form label {
  margin-bottom: 5px;
}

.loan-form input[type="text"], .loan-form input[type="tel"], .loan-form input[type="email"], .loan-form select {
  border: 2px solid #ddd;
  padding: 20px 10px;
  font-size: 1em;
  box-shadow: none;
  margin-bottom: 30px;
}

.loan-form input[type="text"]:focus, .loan-form input[type="tel"]:focus, .loan-form input[type="email"]:focus, .loan-form select:focus {
  border: 2px solid #176864;
}

.loan-form select {
  padding: 12px 10px !important;
  background: #fff;
  max-height: 44px;
  min-height: 44px;
}

.loan-form button {
  padding: 13px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 0;
}

.loan-form button i {
  margin-left: 20px;
}

.loan-form .iradio_square-green {
  float: left;
}

.loan-form .rad-btn {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.loan-form .rad-btn span {
  float: left;
  margin-left: 5px;
  width: 87%;
}

.loan-form .next-btn {
  text-align: right;
}

.loan-summary {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  background: #F4F3F3;
  margin-bottom: 50px;
}

.iris-ctn {
  padding-bottom: 20px;
  padding: 40px 30px;
  width: 50%;
  float: left;
}

.iris-ctn:last-child {
  border-bottom: none;
}

.iris-ctn label {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  display: block;
  margin-bottom: 13px;
  font-size: 0.875em;
}

.interest-amt-calc {
  background: #176864;
}

.interest-amt-calc .interest, .interest-amt-calc .total-amt {
  width: 50%;
  float: left;
  text-align: center;
}

.interest-amt-calc .interest p, .interest-amt-calc .total-amt p {
  color: #fff;
  font-size: 1.875em;
  padding: 15px 0;
}

.interest-amt-calc .interest p span, .interest-amt-calc .total-amt p span {
  display: block;
  font-size: 0.5em;
  text-decoration: underline;
  margin-top: 0px;
}

.interest-amt-calc .interest {
  border-right: 1px solid #1C4D4B;
}

.dash-menu {
  display: none;
  position: absolute;
  top: 60px;
  max-width: 153px;
  width: 100%;
  right: 0;
  margin-right: 15px;
  z-index: 1;
  background: #292526;
}

.dash-menu a {
  display: block;
  color: #fff;
  padding: 10px 15px;
  text-align: left;
  transition: background ease 300ms;
}

.dash-menu a:hover {
  background: #303030;
}

.my-card, .myloans, .acct-breakdown, .graph-section, .transaction-table {
  margin-bottom: 30px;
  background: #F4F3F3;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), -1px 0 5px rgba(0, 0, 0, 0.03), 1px 0 4px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}

.myloans, .acct-breakdown, .graph-section {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 30px;
  background: #fff;
}

.myloans .head, .acct-breakdown .head, .graph-section .head {
  color: #fff;
  font-weight: 600;
  padding: 15px;
  background: #176864;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.myloans .loan-app-details, .acct-breakdown .loan-app-details, .graph-section .loan-app-details {
  display: table;
  width: 100%;
  height: 100%;
  border-top: none;
}

.myloans .loan-app, .acct-breakdown .loan-app, .graph-section .loan-app, .myloans .loan-details, .acct-breakdown .loan-details, .graph-section .loan-details, .myloans .loan-repay, .acct-breakdown .loan-repay, .graph-section .loan-repay {
  display: table-cell;
  width: 50%;
}

.myloans .loan-app, .acct-breakdown .loan-app, .graph-section .loan-app {
  vertical-align: middle;
  text-align: center;
  padding: 30px;
  border-right: 1px solid #ccc;
}

.myloans .loan-app p, .acct-breakdown .loan-app p, .graph-section .loan-app p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.myloans .loan-app p span, .acct-breakdown .loan-app p span, .graph-section .loan-app p span {
  font-size: 0.75em;
  display: block;
  margin-top: 5px;
}

.myloans .loan-app button, .acct-breakdown .loan-app button, .graph-section .loan-app button {
  padding: 12px 20px;
}

.incomplete-app .loan-app, .noloan-app .loan-app {
  width: 100%;
  border-right: none;
}

.incomplete-app .loan-app p, .noloan-app .loan-app p {
  font-weight: 600;
}

.incomplete-app .loan-app p span, .noloan-app .loan-app p span {
  font-weight: normal;
}

.incomplete-app .loan-app img, .noloan-app .loan-app img {
  margin-bottom: 20px;
}

.active-loan h4 {
  text-transform: uppercase;
  color: #176864;
  margin-bottom: 10px;
}

.active-loan .loan-app {
  width: 30%;
  text-align: left;
  vertical-align: top;
  padding: 20px 20px 30px;
}

.active-loan .loan-repay {
  width: 35%;
}

.active-loan .loan-details {
  width: 35%;
  border-right: 1px solid #ccc;
}

.active-loan .request-info p {
  font-size: 1em;
  margin-bottom: 0px;
}

.active-loan .request-info p span {
  display: inline-block !important;
  font-size: 1em;
  font-weight: 600;
}

.active-loan .request-info p span.pending {
  background: #FF8E0C;
  color: #fff;
  padding: 2px 13px;
  font-size: 0.875em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.active-loan .request-info a {
  display: block;
  text-decoration: underline;
  margin-top: 15px;
}

.active-loan .loan-repay {
  padding: 20px;
  vertical-align: top;
}

.active-loan .loan-repay p {
  font-size: 1em;
  margin-bottom: 5px;
}

.active-loan .loan-repay p span {
  display: inline-block !important;
  font-size: 1em;
  font-weight: 600;
}

.active-loan .loan-full-details {
  position: relative;
  padding: 20px;
}

.active-loan .loan-full-details .summary p {
  font-size: 1em;
}

.active-loan .loan-full-details .summary p span {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}

p.due-date {
  font-size: 1em;
  margin: 5px 0;
}

p.due-date span {
  color: #176864;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.update-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.update-form .kin {
  text-transform: uppercase;
  color: #176864;
  font-weight: 600;
}

.update-form label {
  margin-top: 13px;
  font-weight: 600;
}

.update-form .form-info {
  margin-top: -25px;
  margin-bottom: 30px;
  font-size: 12px;
}

.update-form .divider {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}

.file {
  position: relative;
  display: block;
  height: 44px;
  margin-bottom: 30px;
  margin-top: 0px;
  border: 2px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.file .btn {
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.875em;
}

.file input {
  position: absolute;
  right: 0;
  right: 0;
  width: 100%;
  height: 34px;
  opacity: 0;
  color: #fff;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 30;
}

.file .value {
  position: absolute;
  top: 6px;
  left: 10px;
  color: #444;
  z-index: 10;
}

.file .bt-value {
  position: absolute;
  top: 6px;
  right: 10px;
  color: #fff !important;
  text-transform: none !important;
  z-index: 10;
}

.footer-app {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.footer-app h4 {
  text-transform: uppercase;
}

.footer-app .info {
  float: left;
  margin-right: 30px;
}

.footer-app .info p i {
  color: #176864;
  margin-right: 10px;
}

.footer-app .info p.email {
  color: #176864;
}

.footer-copy {
  padding: 15px 0;
}

.footer-copy img {
  float: left;
  margin-right: 20px;
}

.footer-copy p {
  font-size: 0.875em;
  float: left;
}

.transactions {
  padding: 50px 0 100px;
}

.filters {
  text-align: right;
}

.filters .from {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.filters .from span {
  float: left;
  display: inline-block;
  margin-top: 8px;
  margin-right: 10px;
}

.filters .from input[type="text"] {
  display: inline-block;
  float: left;
  width: 150px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.table-scroll {
  overflow-x: auto;
}

.transaction-table {
  margin-top: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.transaction-table p.head {
  color: #fff;
  font-weight: 600;
  padding: 15px;
  background: #176864;
}

.transaction-table table {
  border-spacing: 0;
  border: none;
  margin-bottom: 0;
}

.transaction-table table thead {
  background: #C0C0C0;
  border: none;
  color: #fff;
}

.transaction-table table thead tr, .transaction-table table thead th {
  padding: 0.9rem 1.425rem 0.9rem;
  color: #fff;
}

.transaction-table table tbody td {
  font-size: 1em;
  padding: 15px;
}

.transaction-table p.view-transact {
  padding: 15px 15px;
  text-align: right;
  background: #fff;
  border-top: 1px solid #ccc;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.money-hd {
  background: #9c2066 !important;
}

.savings-det .acct-det {
  width: 33.3%;
  float: left;
  padding: 20px 20px 30px;
  border-right: 1px solid #ccc;
}

.savings-det .acct-det p {
  text-align: center;
  font-size: 0.875em;
}

.savings-det .acct-det p.act-bal {
  font-size: 1.875em;
  font-weight: 600;
  margin-bottom: 0px;
  color: #454545;
}

.savings-det .acct-det:last-child {
  border-right: none;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #E9E9E9;
}

.loan-apply-header {
  padding: 30px 0;
  text-align: center;
  background: #f8f8f8;
}

.loan-apply-header h2 {
  color: #176864;
  text-align: center;
  line-height: 1.7;
}

.loan-apply-header p {
  font-size: 2.25em;
  color: #176864;
}

.loan-apply-header .loan-procedure {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #666;
  margin-top: 40px;
}

.loan-apply-header .loan-procedure li {
  display: inline-block;
  vertical-align: top;
  margin: 0 21px 11px 25px;
}

.loan-apply-header .loan-procedure .num {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 3px;
  border-radius: 50%;
  border: 2px solid #176864;
  text-align: center;
  color: #176864;
  margin: 0 10px 0 0;
  font-weight: 600;
  position: relative;
}

.loan-apply-header .loan-procedure .num i {
  display: none;
}

.loan-apply-header .loan-procedure .num.active {
  background: #176864;
  color: #fff;
}

.loan-apply-header .loan-procedure .num.done {
  border: none;
}

.loan-apply-header .loan-procedure .num.done i {
  display: block !important;
  width: 36px;
  position: absolute;
  /* margin-right: -9px; */
  right: 0;
  padding: 10px;
  margin: -3px;
  /* margin-top: -3px; */
  height: 36px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: green;
  color: #fff;
}

.dash-main {
  background: #FCFCFC;
}

.box-ctn {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 200px;
  background: #fff;
  padding: 10px 15px;
}

.box-ctn h4 {
  font-weight: normal;
  text-transform: uppercase;
  color: #176864;
}

.loan-progress {
  border: 1px solid #ccc;
  height: 15px;
  border-radius: 3px;
  background: #f8f8f8;
  margin-bottom: 10px;
}

.loan-progress span {
  display: block;
  height: 100%;
  margin-top: 0px;
  border-radius: 3px;
  background: #176864;
}

.account-section, .graph-section {
  width: 49%;
  float: left;
}

.account-section p.head {
  color: #fff;
  font-weight: 600;
  padding: 15px;
  background: #176864;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.acct-breakdown {
  padding: 20px 15px;
}

.ledger-bal, .int-rate {
  width: 50%;
  float: left;
}

.graph-section {
  float: right;
  padding: 20px 15px;
}

.ledger-bal span {
  font-size: 1em;
}

.ledger-bal p {
  font-size: 2.25em;
  font-weight: 600;
}

.ledger-bal a {
  text-decoration: underline;
}

.int-rate {
  text-align: right;
}

.int-rate p {
  font-size: 0.875em;
  margin-bottom: 5px;
  color: #565656;
}

.int-rate span {
  font-size: 1.25em;
  font-weight: 600;
}

@media screen and (max-width: 60em) {
  .jumbotron-text {
    padding: 100px 0 50px;
  }
  .prod-box {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 48em) {
  h1 {
    font-size: 2.5em;
  }
  .loan-summary {
    display: none;
  }
  .navigation {
    display: none;
  }
  .jumbotron-text {
    padding: 60px 0;
  }
  .jumbotron-text h1 {
    font-size: 2.5em;
    width: 90%;
  }
  .jumbotron-text .subtext {
    font-size: 1.3em;
    margin: 1em 0;
    padding: 0;
  }
  .bighr {
    padding: 40px 0;
  }
  .bighr h1 {
    font-size: 2.5em;
  }
  .bighr p {
    padding-left: 0;
    margin-top: 10px;
    line-height: 1.7;
  }
  .whyus {
    padding: 40px 0;
  }
  .whyus h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
  }
  .about-vfd {
    padding: 50px 20px;
    background-position: top right;
  }
  .about-vfd p {
    font-size: 1.5em;
    width: 100%;
  }
  .bank-go-text {
    float: none;
    width: 100%;
    margin-right: 0;
    padding: 0 20px;
  }
  /** Loan Page **/
  .loan-calc {
    width: 90%;
    margin: 0 auto;
  }
  .loan-work {
    padding: 20px 0;
  }
  .loan-work h1 {
    font-size: 2em;
  }
  .loan-steps .clearfix {
    margin-bottom: 10px;
  }
  .loan-steps .num {
    position: relative;
    right: 0;
    margin: 0 auto 20px;
    top: 0;
    display: none;
  }
  .loan-steps h4 {
    margin-bottom: 15px;
  }
  .loan-steps p {
    font-size: 1em;
  }
  .faq-section {
    padding: 20px 0;
  }
  .faq-section h1 {
    margin-bottom: 20px;
  }
  .faq-section h4 {
    font-size: 1em;
  }
  .step-loan {
    width: 100%;
    border-right: none;
    text-align: center;
    float: none;
    padding: 15px 20px;
  }
  .loan-step-img {
    position: relative;
    float: none;
    text-align: center;
    width: 100%;
    padding: 20px;
  }
  .reverse .step-loan {
    text-align: center;
  }
  .reverse .step-loan img {
    margin-top: 0;
  }
  .reverse .loan-step-img {
    border-left: none;
    margin-left: none;
    margin-top: -20px;
  }
  .right-img {
    display: none;
  }
  .left-img {
    display: block;
  }
  .new-customers {
    margin-bottom: 40px;
  }
  .save-link, .loan-link, .login-link {
    display: none;
  }
  .logo-section {
    display: none;
  }
  .form-section {
    width: 100%;
  }
  .form-section .form-logo {
    display: block;
    max-width: 230px;
    margin: 0 auto 20px;
  }
  .product-desc p {
    padding-right: 0;
  }
  .product-image {
    padding: 25px 0 !important;
  }
}

@media screen and (max-width: 720px) {
  .loan-apply-header {
    padding: 15px 0;
  }
  .loan-apply-header h2 {
    font-size: 1.7em;
  }
  .loan-apply-header .loan-procedure {
    margin-top: 20px;
  }
  .loan-apply-header .loan-procedure li {
    display: none;
  }
  .loan-apply-header .loan-procedure li.current {
    display: block;
  }
}

@media screen and (max-width: 41.5em) {
  .dash-head ul {
    display: none;
  }
  .form-steps p {
    display: none;
  }
  .form-steps p.current {
    display: block;
    width: 100%;
    border-right: none;
  }
  .form-steps p.active {
    display: none;
  }
}

@media screen and (max-width: 39em) {
  .prod-box {
    min-height: inherit;
    padding-right: 0.9375rem;
    margin-bottom: 30px;
  }
  .whyus {
    text-align: center;
  }
  .building-img {
    margin-top: 20px;
  }
  .text-side, .textbox-side {
    width: 100%;
    float: none;
    padding: 0 !important;
  }
  .text-side textarea, .textbox-side textarea {
    min-height: 150px;
  }
  .myloans .loan-app-details, .acct-breakdown .loan-app-details, .graph-section .loan-app-details {
    display: block;
  }
  .myloans .loan-app p, .acct-breakdown .loan-app p, .graph-section .loan-app p {
    font-size: 1.2em;
  }
  .myloans .loan-app, .acct-breakdown .loan-app, .graph-section .loan-app {
    display: block;
  }
  .dash-ctn {
    padding: 40px 0 100px;
  }
  .loan-form input[type="text"], .loan-form input[type="tel"], .loan-form input[type="email"], .loan-form select {
    margin-bottom: 20px;
  }
  .loan-form .file {
    margin-bottom: 20px;
  }
  .loan-form .form-info {
    margin-top: -20px;
    margin-bottom: 15px;
  }
  .loan-form .next-btn {
    text-align: center;
  }
  .loan-summary-slider .iris-ctn {
    width: 100%;
  }
  .active-loan .loan-app {
    display: block;
    border-right: none;
    width: 100% !important;
    text-align: left;
    padding: 20px 15px 30px;
    border-bottom: 1px solid #ccc;
  }
  .active-loan .loan-app p {
    font-size: 1em;
  }
  .active-loan .loan-app.request-info h4 {
    text-transform: uppercase;
    color: #176864;
  }
  .active-loan .loan-full-details {
    padding: 20px 15px;
    text-align: left;
  }
  .active-loan .loan-full-details h4 {
    text-transform: uppercase;
    color: #176864;
    margin-bottom: 15px;
  }
  .active-loan .loan-full-details .summary {
    padding: 0;
    text-align: left;
  }
  .active-loan .loan-full-details .summary p {
    text-align: left;
  }
  .active-loan .loan-repay {
    padding: 20px 15px;
    width: 100%;
    display: block;
  }
  .active-loan .loan-repay h4 {
    text-transform: uppercase;
    color: #176864;
  }
  .active-loan .loan-repay p {
    font-size: 1em;
  }
  .active-loan .loan-details {
    width: 100%;
    display: block;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
  p.due-date {
    margin: 0px;
    text-align: left;
  }
  .update-form label {
    margin-top: 0;
  }
  .update-form .divider {
    margin-top: 20px;
  }
  .savings-det .acct-det p.act-bal {
    font-size: 1.475em;
  }
}

@media screen and (max-width: 30em) {
  h1 {
    font-size: 2em;
  }
  .md-btn {
    padding: 10px 15px;
    font-size: 0.875em;
  }
  .lg-btn {
    padding: 0.6125em 1.1875em;
    font-size: .875em;
  }
  header {
    padding: 15px 0;
  }
  .jumbotron-text {
    padding: 30px 0;
  }
  .jumbotron-text h1 {
    font-size: 2em;
    width: 100%;
  }
  .jumbotron-text .subtext {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  ul.links li a {
    margin: 0;
    padding: 10px 15px;
  }
  .bighr {
    padding: 40px 0;
  }
  .bighr h1 {
    font-size: 2em;
  }
  .whyus {
    text-align: center;
    padding: 30px 0;
  }
  .whyus h1 {
    font-size: 1.8em;
  }
  .about-vfd {
    background-position: top right;
    padding: 50px 20px;
  }
  .about-vfd p {
    width: 100%;
    font-size: 1.25em;
  }
  .bank-go {
    padding: 40px 0;
    background-position: center center;
  }
  .bank-go h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  .bank-go-text {
    float: none;
    width: 100%;
    margin-right: 0;
    padding: 0 20px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer p {
    margin-bottom: 25px;
  }
  .footer ul {
    margin-bottom: 25px;
  }
  .footer .footer-title {
    margin-bottom: 5px;
  }
  .loan-calc {
    padding: 20px 0 50px;
  }
  .login-form {
    max-width: 280px;
    width: 100%;
  }
  .login-form form {
    padding: 35px 20px 20px;
  }
  .login-form .form-title {
    padding: 15px 20px;
  }
  .dash-head ul {
    display: none;
  }
  .iris-ctn {
    padding: 25px 30px;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .loan-form {
    padding: 30px 20px;
  }
  .loan-form input[type="text"], .loan-form input[type="tel"], .loan-form input[type="email"], .loan-form select {
    margin-bottom: 15px;
  }
  .loan-form .next-btn button {
    width: 100%;
  }
  .name-profile {
    margin-right: -15px;
  }
  .name-profile span {
    margin-top: 0;
    padding: 10px 0;
  }
  .name-profile .profile-thumb {
    display: none;
  }
  .dash-menu {
    margin-right: 0;
  }
  .interest-amt-calc .interest p, .interest-amt-calc .total-amt p {
    font-size: 1.275em;
  }
  .loan-app img {
    width: 30%;
  }
  .update-form label {
    margin-top: 0;
  }
  .update-form .divider {
    margin-top: 20px;
  }
  .filters {
    text-align: left;
  }
  .filters .from {
    display: inline-block;
    margin-left: 0;
    position: relative;
    width: 135px;
    margin-right: 0px;
  }
  .filters .from input[type="text"] {
    width: 130px;
  }
  .filters .from span {
    float: none;
    display: block;
    margin-top: 8px;
    margin-right: 10px;
  }
  .transaction-table {
    margin-top: 10px;
  }
  .transactions {
    padding: 30px 0 100px;
  }
  .acct-det p.act-bal {
    font-size: 1.275em !important;
  }
  .acct-det.first {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-right: none;
    padding: 15px 20px 15px;
  }
  .acct-det.sec {
    width: 50%;
    padding: 15px 20px 15px;
  }
}
