// Typography.scss
@import 'mixins';


.torq-btn, .pink-btn {
    border-radius: 2px;
    background-color: $torq;
    color: #fff;
    font-family: $gotham;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: em(16);
    display: inline-block;
    font-weight: 500;

    &:hover {
    	background: $torq;
    	opacity: .9;
    	color: #fff;
    }
}

.pink-btn {
	background: $pink;

	&:hover {
		opacity: .9;
		color: #fff;
		background: $pink;
	}
}

.md-btn {
	padding: 12px 30px;
	font-size: em(18);
} 

.lg-btn {
	padding: em(13) em(35);
}

.blue-border {
	border: 2px solid #4168c6;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	padding: 5px 10px;
	font-family: $work-sans;
	color: #4168c6;

	&:hover {
		background: #4168c6;
		color: #fff;
	}
}



.transparent {
	background: transparent;
}