// form.scss

@import 'mixins';

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
	width: 100%;
	padding: 8px 10px;
	border: none;
	@include border-radius(3px);
	margin-bottom: 10px;
	font-family: $gotham-book;
}

select {
	padding: 7px 10px;
	@include border-radius(3px);
	border: none;
	width: 100%;
	font-family: $gotham-book;
	background: url(../img/arrows.png) no-repeat !important;
	background-position: 95% center !important;
}