// General Styles 
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	&:hover {
		text-decoration: none;
	}
}

ul.pagination {
    display: block;
    margin-left: -0.27778rem;
    min-height: 1.33333rem;
    margin-top: 30px;

    li {
	    display: block;
	    float: left;
	     color: #222222;
	    font-size: 0.77778rem;
	    height: 1.33333rem;
	    margin-left: 0.27778rem;

	    .unavailable a, .unavailable button {
		    cursor: default;
		    color: #999999;
		    pointer-events: none;
		}

		a, button {
		    border-radius: 3px;
		    transition: background-color 300ms ease-out;
		    background: none;
		    color: #999999;
		    display: block;
		    font-size: 1em;
		    font-weight: normal;
		    line-height: inherit;
		    padding: 5px 10px;
    		border: 1px solid rgba(204, 204, 204, 0.29);
    

    		&.current {
    			background: #BC2232;
    			color: #fff;
    		}
		}
	}
}



.breadcrumbs-ctn {
	padding: 20px 0;
}

.breadcrumbs {
    list-style: none;
    margin: 0 0 1rem 0;
    font-family: $work-sans;

    &:before, &:after {
    	content: ' ';
    	display: table;
    }

    a {
	   
	}

    li {float: left;
	    color: #0a0a0a;
	    
	    cursor: default;
	    text-transform: uppercase;

	    &:not(:last-child):after {
		    color: $pink;
		    content: "/";
		    margin: 0 0.75rem;
		    position: relative;
		    top: 1px;
		    opacity: 1;
		}
	}
}

// Tables

table {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0;
}

table thead, table tfoot {
    background: #f8f8f8;
    color: #0a0a0a;
}

table thead, table tbody, table tfoot {
    border: 1px solid #f1f1f1;
    background-color: #fefefe;
}

table thead tr, table tfoot tr {
    background: transparent;
}

table thead th, table thead td, table tfoot th, table tfoot td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: left;
} 

table tbody th, table tbody td {
    padding: 0.9rem 1.425rem 0.9rem;
}


.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

.button {
	font-size: em(14);
	font-family: $gotham-book;
}


.alert-box {
	padding: 10px 15px;
}