// Mixins

// Variables
$gotham-book: 'GothamHTF-Book';
$gotham-light: 'Gotham Pro Light';
$gotham: 'Gotham Pro';
$proxima: 'Proxima Nova Regular', sans-serif;
$work-sans: 'Work Sans', sans-serif;
$text-grey: #efefef;;
$dark-text: #292526;
$green: #00e676;
$torq-color: #176860;
$torq: #176864;
$pink: #9c2066;

// Function to convert from px to em 
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition ($which, $time, $beizer) {
	-webkit-transition: $which $time $beizer;
	-moz-transition: $which $time $beizer;
	-o-transition: $which $time $beizer;
	-ms-transition: $which $time $beizer;
	transition: $which $time $beizer;
}
