// Typography.scss
@font-face {
	font-family: 'Proxima Nova Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Proxima Nova Regular'), url('../fonts/Mark Simonson - Proxima Nova Regular.woff') format('woff');
}

@font-face {
font-family: 'Gotham Pro';
font-style: normal;
font-weight: normal;
src: local('Gotham Pro'), url('../fonts/GothaProReg.woff') format('woff');
}

@font-face {
font-family: 'GothamHTF-Book';
font-style: normal;
font-weight: normal;
src: local('GothamHTF-Book'), url('../fonts/GothamHTF-Book.woff') format('woff');
}

@font-face {
font-family: 'Gotham Pro Light';
font-style: normal;
font-weight: normal;
src: local('Gotham Pro Light'), url('../fonts/GothaProLig.woff') format('woff');
}

$gotham-book: 'GothamHTF-Book';
$gotham-light: 'Gotham Pro Light';
$gotham: 'Gotham Pro';
$proxima: 'Proxima Nova Regular', sans-serif;
$work-sans: 'Work Sans', sans-serif;

// Function to convert from px to em 
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

h1,h2,h3,h4,h5 {
	font-family: $gotham-book;
	font-weight: 600;
}

h1 {
	font-size: em(48);
}

h2 {
	font-size: em(36);
}

h3 {
	font-size: em(24);
}

h4 {
	font-size: em(18);
}