@import 'typography';
@import 'buttons';
@import 'form';
@import 'mixins';
@import 'general';



.row {
	max-width: 1000px;
}

body {
	font-family: $gotham-book;
	font-size: em(14);
}

p {
	margin-bottom: 0;
}

header {
	padding: 15px 0;
	background: rgba(255, 255, 255, 0.88);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.jumbotron {
	background: url(../img/background.jpg);
	background-position: center center;
	background-size: cover;
	padding: 0px 0;
}

.loan-bg {
	background: url(../img/bg-loan.jpg);
	background-position: center center;
	background-size: cover;
	padding: 0px 0;
}


ul.links {
	margin-top: 6px;

	li {
		display: inline-block;

		a {
			color: #444;
			font-weight: 500;
			margin: 0 10px;
			text-transform: uppercase;
			font-size: em(14);
			text-decoration: none;
			font-family: $gotham;
			padding: 10px 25px;
			@include border-radius(4px);
			transition: all 300ms ease;


			&:hover {
				text-decoration: none;
			}

			&.save-link {
				background: $torq-color;
				color: #fff;

				&:hover {
					background: darken( $torq-color, 10% )
				}
			}

			&.loan-link {
				background: $pink;
				color: #fff;

				&:hover {
					background: darken( $pink, 10% )
				}
			}

			&.login-link {
				border: 2px solid $torq-color;
				color: $torq-color;
				padding: 8px 15px !important;
				font-weight: 600;

				&:hover {
					background: $torq-color;
					color: #fff;
				}
			}

			&.menu-link {
				background: #444;
				color: #fff;
				border-radius: 2px;

				&:hover {
					background-color: #2c2c2c;
				}

				&.open {
					background-color: #2C2C2C;
				}

				i {
					margin-left: 10px;
				}
			}
		}
	}
}

.phone-ctn {
	border: 2px solid $torq-color;
	color: $torq-color;
	padding: 8px 15px !important;
	text-transform: uppercase;
	@include border-radius(2px);
	margin-left: 15px;

	p {
		font-size: em(16);
		font-weight: 500;
	}
}

.navigation {
	margin-top: 2px;
}


// Dropdown Menu
.main-dropdown {
    position: absolute;
    right: 25px;
    top: 45px;
    background: #292526;
    width: 170px;
    z-index: 9;
    display: none;
    border-radius: 2px;

    &:before {
	    content: "";
	    width: 0;
	    display: block;
	    position: absolute;
	    height: 10px;
	    top: -10px;
	    right: 10px;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-bottom: 6px solid #292526;
	}

    a {
    	display: block;
    	color: #fff;
    	border-bottom: 1px solid #313030;
    	padding: 10px 15px;

    	&:hover {
    		background-color: #333333;
    	}

    }
}

.jumbotron-text {
	color: #fff;
	padding: 100px 0px;

	h1 {
		font-size: em(48);
		font-weight: 500;
		color: #fff;
		width: 45%;
		line-height: 1.2;
	}

	.subtext {
		font-size: em(24);
		margin-top: em(20);
		margin-bottom: 30px;
	}

	a {
		margin-right: 20px;
		margin-bottom: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.bighr {
	background: $dark-text;
	padding: 40px 0;

	h1 {
		font-size: em(48);
		color: #fff;
		font-weight: 400 !important;

		span {
			color: $green;
			font-weight: 700;
		}
	}

	p {
		color: #fff;
		padding-left: 20px;
		font-size: em(16);
	}
}


.bank-go {
	background: url(../img/on-the-move.jpg);
	background-position: top left;
	background-size: cover;
	padding: 70px 0;
}



.bank-go-text {
	h1 {
		font-size: em(54);
		color: #fff;
		margin-bottom: 30px;
	}

	h3 {
		color: #fff;
	}

	p {
		font-size: em(18);
		margin-bottom: 20px;
	}

	float: right;
	width: 45%;
	margin-right: 40px;
	color: #fff;
}

.whyus {
	padding: 45px 0;
	background: #f8f8f8;

	 h1{ 
	 	text-align: center;
	 	font-weight: 600 !important;
	 	color: $dark-text;
	 	margin-bottom: 80px;

	 	
	 }

	 img {
	    max-height: 60px;
	    margin-bottom: 10px;
	}

	.subject-head {
	    font-weight: 500;
	    font-size: 20px;
	    line-height: 1.2;
	    font-family: $gotham;
	    margin-bottom: 15px;
	}

	.body-text {
		font-size: em(16);
	}
}

.prod-box {
	min-height: 210px;
	padding-right: 20px;
	text-align: center;
	margin-bottom: 30px;
}

.about-vfd {
	background: url(../img/about.jpg);
	background-position: top left;
	background-size: cover;
	padding: 70px 20px;

	p {
		color: #fff;
		font-size: em(28);
		width: 60%;
		margin-bottom: 20px;
	}
}

.footer {
	background: #313131;
	padding: 40px 0;
	color: #fff;
	

	img {
		margin-bottom: 10px;
	}

	.copyright {
		margin-bottom: 20px;
	}

	p {
		font-size: em(14);
		line-height: 1.5;
	}

	.footer-title {
		color: #fff;
		font-size: em(16);
		font-weight: 500;
		text-transform: uppercase;
		font-family: $gotham;
		margin-bottom: 10px;
	}

	ul {
		margin-bottom: 20px;
	}

	li {
		margin-bottom: 0px;

		a {
			color: #f8f8f8;
			font-size: em(12);
			transition: all 400ms ease;

			&:hover {
				color: $pink;
			}
		}

		i {
			margin-right: 5px;
			display: inline-block;
		}
	}

	.social {
		margin-top: 20px;

		a {
			display: inline-block;
			color: #fff;
			margin-right: 15px;

			i {
				font-size: em(18);
			}
		}
	}
}


#nav-icon1 {
    width: 30px;
    height: 25px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 16px;
    margin-right: 20px;
    right: 0;
    z-index: 99999;
    display: none;

    span {
	    display: block;
	    position: absolute;
	    height: 4px;
	    width: 100%;
	    background: #41A4F4;
	    border-radius: 9px;
	    opacity: 1;
	    left: 0;
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .25s ease-in-out;
	    -moz-transition: .25s ease-in-out;
	    -o-transition: .25s ease-in-out;
	    transition: .25s ease-in-out;
	}
}

.error {
	border: 2px solid #de2d0f !important;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $torq;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

#nav-icon1 span:nth-child(1) { top: 0px; }

#nav-icon1 span:nth-child(2) { top: 10px; }

#nav-icon1 span:nth-child(3) { top: 20px; }

#nav-icon1.open span:nth-child(1) { top: 18px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) { opacity: 0; right: -60px; }

#nav-icon1.open span:nth-child(3) { top: 18px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }


.mobile-menu {
    background: #2c2c2c;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 999999;
}

.menu-ctn {
    position: absolute;
    width: 100%;
    top: 24%;

    a {
	    text-align: center;
	    display: block;
	    text-transform: uppercase;
	    font-family: $gotham-book;
	    padding: 10px 0;
	    font-weight: 600;
	    color: #fff;
	    font-size: 1.2rem;
	}
}

.close-menu {
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
    color: #fff;
    cursor: pointer;
}

.product-ctn {
	.breadcrumbs {
		padding: 40px 0;
		background: none;
		border: none;
		margin-bottom: 0;

		li {
			
			text-transform: none;
			font-size: em(18);
			color: #808080;

			a {
				text-decoration: none;
				color: $torq-color;
			}
		}
	}
}

.product-image {
	padding: 40px 0;
	background-position: center center;
	background-size: cover;
	background: url(../img/buyback.jpg);

	h2 {
		color: #fff;
		margin: 0;
	}
}
.product-desc {
	margin: 40px 0 80px;
	h3 {

		span {
			display: block;
			height: 5px;
			width: 6%;
			min-width: 40px;
			background: $pink;
			border-radius: 4px; 
			margin-top: 10px;
			margin-bottom: 30px;
		}
	}

	p {
		font-size: em(16);
		line-height: 1.7;
		margin-bottom: 15px;
		font-weight: 400;
		color: #2c2c2c;
		padding-right: 30px;

		span {
			font-weight: 600;
			color: $dark-text;
		}

		&.quote {
		    background: #ededed;
		    border-left: 5px solid $pink;
		    padding: 19px 20px;
		    font-size: em(18);
		    color: #3c3c3c;
		    font-weight: 600;
		    margin: 20px 0;
		    margin-right: 30px;
		    font-style: italic;
		    line-height: 1.6;
		}
	}

	ul {
		margin-top: 10px;
		li {
			font-size: em(14);
			margin-bottom: 5px;

			i {
				margin-right: 3px;
				color: $pink;
			}
		}
	}
}

.apply-brochure {
	margin-top: 30px;

	a {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.product-links {
	background: #F2F2F2;

	ul {
		li {
			border-bottom: 1px solid #fff;

			a {
				border-left: 5px solid transparent;
				padding: 14px 15px 14px 18px;
				font-size: em(14);
				font-weight: 600;
				color: $dark-text;
				display: block;
				-webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3s ease;
			    -ms-transition: all 0.3s ease;
			    -o-transition: all 0.3s ease;
			    transition: all 0.3s ease;

			    &.active, &:hover {
			    	border-left: 5px solid $pink;
			    }
			}
		}
	}
}

.lease-terms {
	p {
		margin-bottom: 5px;
	}
}

.download-brochure {
	margin-top: 30px;
	border: 1px solid #ccc;
	@include border-radius(3px);
	padding: 20px;

	p {
		font-size: em(18);
		line-height: 1.5;
		margin-bottom: 20px;
	}

	h3 {
		margin-top: 0;
	}
}


.about-us {
	background: url(../img/about-img.jpg);
	background-position: center center;
	background-size: cover;
}

.invest-img {
	background: url(../img/invest.jpg);
	background-position: center center;
	background-size: cover;
}


.cash-adv {
	background: url(../img/cash-adv.jpg);
	background-position: center center;
	background-size: cover;
}

.bridge-img {
	background: url(../img/bridge-img.jpg);
	background-position: center center;
	background-size: cover;
}

.contact-img {
	background: url(../img/contact.jpg);
	background-position: center center;
	background-size: cover;
}

.board {
	margin-top: 50px;

	.member {
	    padding: 25px 0 15px;
	    border-bottom: 1px solid #ccc;
	    margin-right: 30px;

	    &.first {
	    	padding-top: 0;
	    }

	    &.last {
	    	border-bottom: none;
	    }
	}

	p {
		margin-right: 0;
	}

	.name {
		font-weight: 600;
		color: $torq;
		font-size: em(24);
		margin-bottom: 10px;

		span {
			display: block;
			margin-top: -4px;
			font-weight: 600;
			color: $dark-text;
			font-size: em(12);
		}
	}
}

.contact-form {
	margin: 30px 0;

	p {
		padding-right: 0;
	}

	button {
		border: none;
		@include border-radius(3px);
	    width: 150px;
		padding: 11px;
		font-size: em(16);
		margin-top: 10px;

		i {
			margin-left: 10px;
			margin-top: 1px;
		}
	} 
}

.text-side, .textbox-side {
	width: 50%;
	float: left;
	padding-right: 20px;

	label {
		margin-bottom: 5px;
		font-weight: 600;
		color: $dark-text;

		span {
			color: $pink;
		}
	}

	input[type="text"], [type="email"], [type="tel"], textarea {
		border: 2px solid #ccc;
		margin-bottom: 20px;
		padding: 20px 15px;
		font-size: em(16);
		box-shadow: none;
		@include border-radius(3px);
	}

	textarea {
		min-height: 224px;
		max-height: 224px;
	}
}

.textbox-side {
	padding-left: 20px;
	padding-right: 0;
}

.building-img {
	background: url(../img/building.jpg);
	background-size: cover;
	background-position: center center;
	padding: 30px;
	position: relative;

	p {
		color: #fff;

		&.header {
			font-size: em(20);
			font-weight: 600;
			margin-bottom: 15px;
		}

		&.addy, &.tely, &.emaily   {
			&:before {
				content: '\f041';
				font-family: 'fontawesome';
				position: absolute;
				left: 30px;
			}

			span {
				color: #fff;
				margin-left: 25px;
				display: inline-block;
			}
		}

		&.tely {
			&:before {
				content: '\f10b';
			}
		}

		&.emaily {
			&:before {
				content: '\f0e0';
				left: 28px;
			}
		}
	}
	
}


.alert {
	background-color: #E94848 !important;

	.close {
		color: #fff !important;
	}
}








.loan-calc {
    width: 450px;
    padding: 50px 0 100px;

    h1 {
    	text-align: center;
    	margin-bottom: 30px;
    	color: #fff;
    	line-height: 1.1;
    }
}

.irs-from, .irs-to, .irs-single {
    font-size: 14px;
    background: $torq-color;
    margin-top: -6px;
    margin-left: 0px;
    padding: 4px 8px;
}

.loan-calc-ctn {
    background: #fff;
}

.loan-amt, .loan-lenght {
    border-bottom: 1px solid #ccc;
    padding: 25px 30px;

    p {
    	text-align: center;
    	margin-bottom: 15px;
    	text-transform: uppercase;
    	font-weight: 600;
    	font-size: em(14);
    	color: #585858;
    }
}

.loan-lenght {
	border-bottom: none;
}

.loan-sum {
    background: #313131;
    color: #fff;
    text-align: center;

    .loan {
    	padding: 20px 30px;
	    border-bottom: 1px solid #585858;
	    margin: 0 10px;
	    text-align: center;

    	p {
    		display: inline-block;
    		text-transform: uppercase;
    		font-weight: 600;

    		&.orig-amt:after, &.equals:after {
    			content: "+";
    			position: absolute;
			    margin-left: 15px;
			    margin-top: 0px;
    		}

    		&.equals:after {
    			content: "=";
    		}

    		span {
    			font-size: em(12);
    			font-weight: normal;
    		}

    	}
    }
}

.apply-for-loan {
    padding: 30px 0;

    a {
    	width: 80%;
    }
}

.loan-work {
    text-align: center;
    padding: 30px 0;
    color: #fff;
    background: $torq-color;

    h1 {
    	margin-top: 0;
    	margin-bottom: 5px;
    	color: #fff;
    }

    p { 
    	font-size: em(24);
    }
}

.arrow-down {
   width: 0; 
   height: 0;
   border-top: 70px solid $torq-color;
   border-left: 70px solid transparent; 
   border-right: 70px solid transparent; 
   margin-top: -40px;
}

.loan-steps {
	padding: 30px 0;
	position: relative;

	p {
		margin-bottom: 5px;
	}

	h4 {
		color: $torq-color;
	}

	.clearfix {
		position: relative;
	}

	.num {
		width: 40px;
		height: 40px;
		padding: 10px 8px 8px 7px;
		@include border-radius(50%);
		color: #fff;
		background: $torq-color;
		z-index: 9999;
		position: absolute;
		text-align: center;
		right: -20px;
		top: 120px;
	}
}

.step-loan {
	position: relative;
    width: 50%;
    border-right: 1px solid $torq-color;
    float: left;
    padding: 50px 40px;
}

.loan-step-img  {
	position: relative;
	float: left;
	width: 50%;
	padding: 50px 40px;

	img {
		margin-top: 19px;
	}
}

.reverse {
	.loan-step-img {
		border-left: 1px solid $torq-color;
		margin-left: -1px;
	}

	.step-loan {
		text-align: right;

		img {
			margin-top: 40px;
		}
	}

}

.left-img {
	display: none;
}






/********* CUSTOM RADIO BUTTON **************/

.radio-loan {
	div {
		display: inline-block;
	}

	input[type="radio"] {
	  display: none;
	}

	input[type="radio"] + label {
	  color: #292321;
	  font-weight: 600;
	  text-transform: uppercase;
	  font-size: 14px;
	}

	input[type="radio"] + label span {
	  display: inline-block;
	  width: 19px;
	  height: 19px;
	  margin: -1px 4px 0 0;
	  vertical-align: middle;
	  cursor: pointer;
	  -moz-border-radius: 50%;
	  border-radius: 50%;
	}

	input[type="radio"] + label span {
	  background-color: #fff;
      border: 3px solid #2c2c2c;
	}

	input[type="radio"]:checked + label span {
	    background-color: #006A5A;
	    padding: 0px;
	    box-sizing: border-box;
	    border: 3px solid #313131;
	}

	input[type="radio"] + label span,
	input[type="radio"]:checked + label span {
	  -webkit-transition: background-color 0.4s linear;
	  -o-transition: background-color 0.4s linear;
	  -moz-transition: background-color 0.4s linear;
	  transition: background-color 0.4s linear;
	}

}



.faq-section {
	background: $torq-color;
	color: #fff;
	padding: 50px 0 100px;

	h1 {
		text-align: center;
		font-weight: 600;
		margin-bottom: 70px;
		line-height: 1.5;
		color: #fff;
	}

	h3 {
		text-align: center;
		margin-bottom: 20px;
		color: #fff;
	}
}



.question-box {
	padding: 20px 0;
	border-bottom: 1px solid #488A84;

	&:first-child {
		border-top: 1px solid #488A84;	
	}

	h4 {
		cursor: pointer;
		margin-top: -5px;
		float: left;
		margin-bottom: 0;
		width: 88%;
		line-height: 1.5;
		color: #fff;

		// &:before {
		// 	content: "+";
		// 	margin-right: 20px;
		// }
	}

	i {
		margin-right: 20px;
		font-size: 16px;
		float: left;
	}

	.answer-box {
		margin-left: 33px;
		display: none;
		margin-top: 15px;

		p {
			font-size: em(16);
			color: #E0E0E0;
		}
	}

}

.new-customers {
	margin-bottom: 50px;
}


.login-section {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -webkit-transition: ease .3s;
    transition: ease .3s;
}

.form-section, .logo-section {
	width: 50%;
    display: table-cell;
    vertical-align: middle;
	background: #fff;
}

.form-section {
	background: #dedede;
}

.logo-section {

	.image-logo {
	    margin: 0 auto;
	    max-width: 450px;
	    clear: both;
	}
}

.form-logo {
	text-align: center;
	margin-bottom: 20px;
	display: none;
}

.login-form {
    width: 340px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 20px;
    @include border-radius(3px);

    .form-title {
    	background: $torq-color;
    	color: #fff;
    	padding: 15px 30px;
    	font-size: em(20);
    	border-top-right-radius: 3px;
    	border-top-left-radius: 3px;
    }

    label {
    	margin-bottom: 5px;
    }

    a {
    	color: $torq-color; 
    	text-align: center;
    }

    p {
    	color: $dark-text;
    	font-size: em(16);
    	text-align: center;
    	margin: 20px 0;
    	font-weight: 600;

    	a {
    		text-decoration: underline;
    	}

    	&.pw-reset {
		    text-align: left;
		    font-weight: normal;
		    line-height: 1.5;
		    margin-top: 0;
		}
    }

    form {
    	padding: 35px 30px 20px;

    	input[type="text"], input[type="email"], input[type="password"] {
    		border: 2px solid #ccc;
    		padding: 20px 10px;
    		font-size: em(16);
    		box-shadow: none;
    		margin-bottom: 20px;
    	}

    	input[type="submit"] {
    		border: none;
    		width: 100%;
    		@include border-radius(3px);
    		padding: 12px 15px;
    	}
    }
}



/******* DASHBOARD ********/
.dash-head {
	background: #303030;

	.dash-logo {
		padding: 10px 0;
	}

	ul {
		float: right;
		margin-right: 30px;
		margin-top: 17px;

		li {
			display: inline-block;
			margin: 0 15px;
			font-size: em(14);

			a {
				color: #fff;
				text-transform: uppercase;
			}
		}
	}
}

.name-profile {
	padding: 10px 15px;
	float: right;
	background: $dark-text;
	cursor: pointer;

	.profile-thumb {
		float: left;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #f8f8f8;

		img {
			max-width: 100%;
			@include border-radius(50%);
		}
	}

	span {
		float: left;
		margin-top: 9px;
		margin-left: 10px;
		text-transform: capitalize;
		color: #fff;

		i {
			margin-left: 5px;
		}
	}
}

.dash-ctn {
	padding: 50px 0 100px;
}

.loan-apply {
	background: #F0F0F0;
    padding: 15px 0;

    p {
    	text-transform: uppercase;
    	font-size: em(18);
    	font-weight: 600;
    }
}

.form-steps-hd {
	h4 {
		text-transform: uppercase;
		color: $torq;
		text-align: center;
	}
}

.dob {
	background: url(../img/time.png) no-repeat !important;
	background-position: 95% center !important;
}

.form-steps {
	border: 1px solid #ccc;
	@include border-radius(3px);


	p {
		width: 33.3%;
		text-align: center;
		border-right: 1px solid #ccc;
		float: left;
		padding: 10px 0;
		background: #f8f8f8;

		&:before {
			content: '2';
			width: 24px;
			border-radius: 20px;
			display: inline-block;
			background: #fff;
			font-size: 15px;
			color: $torq;
			margin-right: 7px;
		}

		&:first-child {
			&:before {
				content: '1';
			}
		}

		&:last-child {
			border-right: none;
			width: 33.4%;

			&:before {
				content: '3';
			}
		}

		&.current {
			background: $torq;
			color: #fff;
			font-weight: 600;
			border-right: 1px solid $torq;
		}
	}
}

.form-field {
	position: relative;
}

.saving-message {
	margin-top: 50px;

	.alert-box {
		padding: 20px;
	}
}

.material-datepicker {
	top: 69px !important;
	left: 0 !important;
	font-family: $gotham-book !important;
}

.loan-form {
	border: 1px solid #E3E3E3;
	padding: 30px;
    margin-top: 30px;
    border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);

    p {
    	font-size: em(16);
    	margin-bottom: 10px;
    }

    label {
    	margin-bottom: 5px;
    }

    input[type="text"], input[type="tel"], input[type="email"], select {
    	border: 2px solid #ddd;
		padding: 20px 10px;
		font-size: em(16);
		box-shadow: none;
		margin-bottom: 30px;

		&:focus {
			border: 2px solid $torq;
		}
    }

    select {
    	padding: 12px 10px !important;
    	background: #fff;
    	max-height: 44px;
    	min-height: 44px;
    }

    button {
    	padding: 13px 20px;
    	@include border-radius(3px);
    	margin-top: 10px;
    	margin-bottom: 0;

    	i {
    		margin-left: 20px;
    	}
    }

    .iradio_square-green {
	    float: left;
	}

    .rad-btn {
    	display: block;
    	margin-bottom: 10px;
    	margin-top: 10px;

    	span {
    		float: left;
		    margin-left: 5px;
		    width: 87%;
    	}
    } 

    .next-btn {
    	text-align: right;
    }

}

.loan-summary {
	@include border-radius(2px);
	background: #F4F3F3;
	margin-bottom: 50px;
}

.iris-ctn {
	padding-bottom: 20px;
	// border-bottom: 1px solid #ccc;
	padding: 40px 30px;
	width: 50%;
    float: left;

	&:last-child {
		border-bottom: none;
	}

	label {
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		display: block;
		margin-bottom: 13px;
		font-size: em(14);
	}
}

.interest-amt-calc {
	background: $torq;

	.interest, .total-amt {
		width: 50%;
		float: left;
		text-align: center;


		p {
			color: #fff;
			font-size: em(30);
			padding: 15px 0;

			span {
				display: block;
				font-size: rem(8);
				text-decoration: underline;
				margin-top: 0px;
			}
		}
	}

	.interest {
		border-right: 1px solid #1C4D4B;
	}
}

.dash-menu {
    display: none;
    position: absolute;
    top: 60px;
    max-width: 153px;
    width: 100%;
    right: 0;
    margin-right: 15px;
    z-index: 1;
    background: #292526;

    a {
    	display: block;
    	color: #fff;
    	padding: 10px 15px;
    	text-align: left;
    	transition: background ease 300ms;

    	&:hover {
    		background: #303030;
    	}
    }
}


.my-card {
	margin-bottom: 30px;
	background: #F4F3F3;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), -1px 0 5px rgba(0, 0, 0, 0.03), 1px 0 4px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}

.myloans {
	@include border-radius(2px); 
	margin-bottom: 30px;
	// background: rgba(244, 243, 243, 0.3);
	background: #fff;
	@extend .my-card;

	.head {
		color: #fff;
		font-weight: 600;
		padding: 15px;
		background: $torq;
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
	}

	.loan-app-details {
		display: table;
		width: 100%;
		height: 100%;
		// border: 1px solid #ccc;
		border-top: none;
	}

	.loan-app, .loan-details, .loan-repay {
		display: table-cell;
		width: 50%;
	}

	.loan-app {
		vertical-align: middle;
		text-align: center;
		padding: 30px;
		border-right: 1px solid #ccc;

		p {
			font-size: em(24);
			margin-bottom: 20px;

			span {
				font-size: em(12);
				display: block;
				margin-top: 5px;
			}
		}

		button {
			padding: 12px 20px;
		}
	}
}

.incomplete-app, .noloan-app {
	.loan-app {
		width: 100%;
		border-right: none;

		p {
			font-weight: 600;

			span {
				font-weight: normal;
			}
		}

		img {
			margin-bottom: 20px;
		}
	}
}


.active-loan {

	h4 {
		text-transform: uppercase;
		color: $torq;
		margin-bottom: 10px;
	}

	.loan-app {
		width: 30%;
		text-align: left;
		vertical-align: top;
		padding: 20px 20px 30px;
	}

	.loan-repay {
		width: 35%;
	}

	.loan-details {
		width: 35%;
		border-right: 1px solid #ccc;
	}

	.request-info {
		p {
			font-size: em(16);
			margin-bottom: 0px;

			span {
				display: inline-block !important;
				font-size: em(16);
				font-weight: 600;

				&.pending {
					background: #FF8E0C;
					color: #fff;
					padding: 2px 13px;
					font-size: em(14);
					@include border-radius(3px);
				}
			}
		}

		a {
			display: block;
			text-decoration: underline;
			margin-top: 15px;
		}
	}

	.loan-repay {
		padding: 20px;
		vertical-align: top;

		p {
			font-size: em(16);
			margin-bottom: 5px;
			

			span {
				display: inline-block !important;
				font-size: em(16);
				font-weight: 600;
			}
		}
	}

	.loan-full-details {
		position: relative;
		padding: 20px;

		.summary {
			p {
			    
			    font-size: em(16);

			    span {
			    	display: inline-block;
			    	margin-bottom: 5px;
			    	font-weight: 600;
			    }   
			}
		}
	}
}

p.due-date {
	font-size: em(16);
	margin: 5px 0;

	span {
		color: $torq;
		display: block;
		text-transform: uppercase;
		font-weight: 600;
	}
}


.update-form {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;

	.kin {
		text-transform: uppercase;
		color: $torq;
		font-weight: 600;
	}
	

	label {
		margin-top: 13px;
		font-weight: 600;
	}

	.form-info {
	    margin-top: -25px;
	    margin-bottom: 30px;
	    font-size: 12px;
	}

	.divider {
		border-bottom: 1px solid #ccc;
		margin-bottom: 30px;
		width: 100%;
	}
}

.sum-text {		
  	margin-top: 13px;		
}

.form-summary {		
  	background: #f8f8f8;		
}	

.tac {		
	text-align: center;		
	font-size: 12px;		
	padding-bottom: 15px;		

	a {		
	    color: #fff;	

	    &:hover {	
  			text-decoration: underline;
	    }	
	}		
}	



// File Upload
.file {
	position: relative;
	display: block;
	height: 44px;
	margin-bottom: 30px;
	margin-top: 0px;
	border: 2px solid #ddd;
	@include border-radius(2px);

	.btn {
		padding: 5px 15px;
		@include border-radius(2px);
		font-size: em(14);
	}
}

.file input {
	position: absolute;
	right: 0;
	right: 0;
	width: 100%;
	height: 34px;
	opacity: 0;
	color: #fff;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	z-index: 30;
}

.file .value {
position: absolute;
top: 6px;
left: 10px;
color: #444;
z-index: 10;
}

.file .bt-value {
position: absolute;
top: 6px;
right: 10px;
color: #fff !important;
text-transform: none !important;
z-index: 10;
}






.footer-app {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;

	h4 {
		text-transform: uppercase;
	}

	.info {
		float: left;
		margin-right: 30px; 

		p {
			i {
				color: $torq;
				margin-right: 10px;
			}

			&.email {
				color: $torq;
			}
		}
	}
}

.footer-copy {
	padding: 15px 0;

	img {
		float: left;
		margin-right: 20px;
	}

	p {
		font-size: em(14);
		float: left;
		
	}
}


.transactions {
	padding: 50px 0 100px;
}
.filters {
	text-align: right;

	.from {
		display: inline-block;
		margin-left: 20px;
		position: relative;

		span {
			float: left;
			display: inline-block;
			margin-top: 8px;
			margin-right: 10px;
		}

		input[type="text"] {
			display: inline-block;
			float: left;
			width: 150px;
			border: 1px solid #ccc;
			box-shadow: none;
		}
	}
}

.table-scroll {
    overflow-x: auto;
}

.transaction-table {
	margin-top: 20px;
	@extend .my-card;
	@include border-radius(2px);

	p.head {
	    color: #fff;
	    font-weight: 600;
	    padding: 15px;
	    background: $torq;
	}

	table {
		border-spacing: 0;
		border: none;
		margin-bottom: 0;

		thead {
			background: #C0C0C0;
			border: none;
			color: #fff;

			tr, th {
				padding: 0.9rem 1.425rem 0.9rem;
				color: #fff;
			}
		}

		tbody {
			td {
				font-size: em(16);
				padding: 15px;
			}
		}
	}

	p.view-transact {
	    padding: 15px 15px;
	    text-align: right;
	    background: #fff;
	    border-top: 1px solid #ccc;
	    font-weight: 600;
	    font-size: 12px;
	    text-transform: uppercase;
	}
}

.money-hd {
	background: $pink !important;
}

.savings-det {
	// border: 1px solid #ccc;

	.acct-det {
		width: 33.3%;
	    float: left;
	    padding: 20px 20px 30px;
	    border-right: 1px solid #ccc;

	    p {
	    	text-align: center;
	    	font-size: em(14);

	    	&.act-bal {
	    		font-size: em(30);
	    		font-weight: 600;
	    		margin-bottom: 0px;
	    		color:#454545;
	    	}
	    }

	     &:last-child {
	    	border-right: none;
	    }
	}

	.acct-trans {
	}
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #E9E9E9;
}



.loan-apply-header {
    padding: 30px 0;
    text-align: center;
    background: #f8f8f8;

    h2 {
    	color: $torq;
    	text-align: center;
    	line-height: 1.7;
    }

    p {
    	font-size: em(36);
    	color: $torq;
    }

    .loan-procedure {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    color: #666;
	    margin-top: 40px;

	    li {
		    display: inline-block;
		    vertical-align: top;
		    margin: 0 21px 11px 25px;
		}

		.num {
		    display: inline-block;
		    width: 36px;
		    height: 36px;
		    padding: 3px;
		    border-radius: 50%;
		    border: 2px solid $torq;
		    text-align: center;
		    color: $torq;
		    margin: 0 10px 0 0;
		    font-weight: 600;
		    position: relative;

		    i {
		    	display: none;
		    }

		    &.active {
		    	background: $torq;
		    	color: #fff;
		    }

		    &.done {
		    	border: none;
		    	i {
		    		display: block !important;
		    		width: 36px;
				    position: absolute;
				    /* margin-right: -9px; */
				    right: 0;
				    padding: 10px;
				    margin: -3px;
				    /* margin-top: -3px; */
				    height: 36px;
				    top: 2px;
    				left: 2px;
				    border-radius: 50%;
				    background: green;
				    color: #fff;
		    	}
		    }
		}
	}
}

.dash-main {
	background: #FCFCFC;
}

.box-ctn {
	border: 1px solid #ccc;
	border-radius: 2px;
	height: 200px;
	background: #fff;
	padding: 10px 15px;

	h4 {
		font-weight: normal;
		text-transform: uppercase;
		color: $torq;
	}
}

.loan-progress {
	border: 1px solid #ccc;
	height: 15px;
	border-radius: 3px;
	background: #f8f8f8;
	margin-bottom: 10px;

	span {
		display: block;
	    height: 100%;
	    margin-top: 0px;
	    border-radius: 3px;
	    background: $torq;
	}
}



.account-section, .graph-section {
	width: 49%; 
	float: left;
}

.account-section {
	

	p.head {
		color: #fff;
	    font-weight: 600;
	    padding: 15px;
	    background: #176864;
	    border-top-right-radius: 2px;
	    border-top-left-radius: 2px;
	}
}

.acct-breakdown {
	@extend .myloans;
	padding: 30px 15px;
	margin-bottom: 0;
}

.ledger-bal, .int-rate {
	width: 50%;
	float: left;
}

.graph-section {
	float: right;
	@extend .myloans;
	padding: 20px 15px;
}

.ledger-bal {
	span {
		font-size: em(16);
	}

	p {
		font-size: em(36);
		font-weight: 600;
	}

	a {
		text-decoration: underline;
	}
}

.int-rate {
	text-align: right;

	p {
		font-size: em(14);
		margin-bottom: 5px;
		color: #565656;
	}

	span {
		font-size: em(20);
		font-weight: 600;
	}
}

.acct-name-no {
	span {
		font-size: em(14);
		display: block;
	}

	p {
		font-size: em(18);
		margin-bottom: 10px;
	}
}


.canvasjs-chart-credit {
	display: none;
}




























// MEDIAQUERIES
@media screen and (min-width: 60em) {
	
}




@media screen and (max-width: 62.8125em) {
	
}


@media screen and (max-width: 60em) {
	.jumbotron-text {
		padding: 100px 0 50px;
	}

	.prod-box {
		margin-bottom: 0px;
	}
}


@media screen and (max-width: 48em) {
	h1 {
		font-size: 2.5em;
	}



	.loan-summary {
		display: none;
	}

	.navigation {
		display: none;
	}

	.jumbotron-text {
		padding: 60px 0;

		h1 {
		    font-size: 2.5em;
		    width: 90%;
		}

		.subtext {
		    font-size: 1.3em;
		    margin: 1em 0;
		   	padding: 0;
		}
	}

	.bighr {
		padding: 40px 0;

		h1 {
		    font-size: 2.5em;
		}

		p {
			padding-left: 0;
			margin-top: 10px;
			line-height: 1.7;
		}
	}

	.whyus {
		padding: 40px 0;

		h1 {
		    font-size: 2.5em;
		    margin-bottom: 40px;
		}
	}

	.about-vfd {
		padding: 50px 20px;
		background-position: top right;

		p {
		    font-size: 1.5em;
		    width: 100%;
		}
	}

	.bank-go-text {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	    padding: 0 20px;
	}

	/** Loan Page **/
	.loan-calc {
		width: 90%;
    	margin: 0 auto;
	}

	.loan-work {
		padding: 20px 0;

		h1 {
			font-size: 2em;
		}
	}

	.loan-steps {
		.clearfix {
			margin-bottom: 10px;
		}

		.num {
		    position: relative;
		    right: 0; 
		    margin: 0 auto 20px;
		    top: 0;
		    display: none;
		}

		h4 {
			margin-bottom: 15px;
		}

		p {
			font-size: em(16);
		}
	}

	.faq-section {
		padding: 20px 0;

		h1 {
			margin-bottom: 20px;
		}

		h4 {
			font-size: 1em;
		}
	}

	.step-loan {
	    width: 100%;
	    border-right: none;
	    text-align: center;
	    float: none;
	    padding: 15px 20px;
	}

	.loan-step-img {
	    position: relative;
	    float: none;
	    text-align: center;
	    width: 100%;
	    padding: 20px;
	}

	.reverse {
		.step-loan {
	    	text-align: center;

	    	img {
	    		margin-top: 0;
	    	}
	   	}

	   	.loan-step-img {
		    border-left: none;
		    margin-left: none;
		    margin-top: -20px;
		}
	}

	.right-img {
		display: none;
	}

	.left-img {
		display: block;
	}

	.new-customers {
	    margin-bottom: 40px;
	}

	.save-link, .loan-link, .login-link {
		display: none;
	}

	.logo-section {
		display: none;
	}

	.form-section {
		width: 100%;

		.form-logo {
			display: block;
		    max-width: 230px;
		    margin: 0 auto 20px;
		}
	}

	.product-desc {
		p {
			padding-right: 0;
		}
	}

	.product-image {
		padding: 25px 0 !important;
	}
}

@media screen and (max-width: 720px) {
	.loan-apply-header {
		padding: 15px 0;

		h2 {
			font-size: 1.7em;
		}
		

		.loan-procedure {
			margin-top: 20px;

			li {
				display: none;

				&.current {
					display: block;
				}
			}
		}
	}  
}

@media screen and (max-width: 41.5em) {
	.dash-head {
		ul {
			display: none;
		}
	}

	.form-steps {
		p {
			display: none;

			&.current {
				display: block;
				width: 100%;
				border-right: none;
			}

			&.active {
				display: none;
			}
		}
	}
}


@media screen and (min-width: 560px) and (max-width: 680px){
	.ledger-bal {
		p {
    		font-size: 1.7em;
    	}

    	a {
    		font-size: em(14);
    	}
    }
}


@media screen and (max-width: 39em) {
	.prod-box {
	    min-height: inherit;
	    padding-right: 0.9375rem;
	    margin-bottom: 30px;
	}

	.whyus {
		text-align: center;
	}

	.building-img {
		margin-top: 20px;
	}

	.text-side, .textbox-side {
		width: 100%;
		float: none;
		padding: 0 !important;

		textarea {
			min-height: 150px;
		}
	}

	.myloans {
		.loan-app-details {
			display: block;
		}

		.loan-app {
			p {
				font-size: 1.2em;
			}
		}

		.loan-app {
			display: block;
		}
	}

	.dash-ctn {
		padding: 40px 0 100px;
	}

	.loan-form {
		input[type="text"], input[type="tel"], input[type="email"], select {
	    	margin-bottom: 20px;
	    }

	    .file {
	    	margin-bottom: 20px;
	    }

	    .form-info {
		    margin-top: -20px;
		    margin-bottom: 15px;
		}

		.next-btn {
			text-align: center;
		}
	}

	.loan-summary-slider {
		.iris-ctn {
			width: 100%;
		}
	}

	.active-loan {
		.loan-app {
			display: block;
			border-right: none;
		    width: 100% !important;
		    text-align: left;
		    padding: 20px 15px 30px;
		    border-bottom: 1px solid #ccc;

		    p {
		    	font-size: 1em;
		    }

		    &.request-info {
		    	h4 {
		    		text-transform: uppercase;
		    		color: $torq;
		    	}
		    }
		}

		.loan-full-details {
			padding: 20px 15px;
			text-align: left;

			h4 {
				text-transform: uppercase;
				color: $torq;
				margin-bottom: 15px;
			}

			.summary {
				padding: 0;
				text-align: left;

				p {
					text-align: left;
				}
			}
		}

		.loan-repay {
			padding: 20px 15px;
			width: 100%;
			display: block;

			h4 {
				text-transform: uppercase;
				color: $torq;
			}
			p {
				font-size: 1em;
			}
		}

		.loan-details {
			width: 100%;
			display: block;
			border-right: none;
			border-bottom: 1px solid #ccc;
		}
	}

	p.due-date {
		margin: 0px;
		text-align: left;
	}

	.update-form {
		label {
			margin-top: 0;
		}

		.divider {
			margin-top: 20px;
		}
	}

	.savings-det .acct-det p.act-bal {
	    font-size: 1.475em;
	}
}

@media screen and (min-width: 480px) and (max-width: 560px){
	.ledger-bal {
		p {
    		font-size: 2.25em;
    	}

    	a {
    		font-size: em(16);
    	}
    }

    .account-section, .graph-section {
    	width: 100%;
    	float: none;
    	margin-bottom: 20px;
    }
}


@media screen and (max-width: 30em) {
	h1 {
		font-size: 2em;
	}

	.md-btn {
	    padding: 10px 15px;
	    font-size: 0.875em;
	}

	.lg-btn {
	    padding: 0.6125em 1.1875em;
	    font-size: .875em;
	}

	header {
		padding: 15px 0;
	}

	.jumbotron-text {
		padding: 30px 0;

		h1 {
		    font-size: 2em;
		    width: 100%;
		}

		.subtext {
		    font-size: 1.2em;
		    margin-top: 1em;
		    margin-bottom: 1em;
		}
	}

	ul.links li a {
		margin: 0;
		padding: 10px 15px;
	}

	.bighr {
		padding: 40px 0;

		h1 {
		    font-size: 2em;
		}

		
	}

	.whyus {
		text-align: center;
		padding: 30px 0;

		h1 {
			font-size: 1.8em;
		}
	}

	.about-vfd {
		background-position: top right;
	    padding: 50px 20px;

	    p {
	    	width: 100%;
	    	font-size: 1.25em;
	    }
	}

	.bank-go {
	    padding: 40px 0;
	    background-position: center center;

	    h1 {
    		font-size: 2.5em;
    		margin-bottom: 15px;
    	}
	}

	.bank-go-text {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	    padding: 0 20px;
	}

	.footer {
	    padding: 40px 0;

	    p {
	    	margin-bottom: 25px;
	    }

	    ul {
	    	margin-bottom: 25px;
	    }

	    .footer-title {
	    	margin-bottom: 5px;
	    }
	}

	.loan-calc {
		padding: 20px 0 50px;
		 width: 100%;
	}

	.login-form {
		max-width: 280px;
		width: 100%;

		form {
		    padding: 35px 20px 20px;
		}

		.form-title {
			padding: 15px 20px;
		}
	}

	.dash-head {
		ul {
			display: none;
		}
	}

	.iris-ctn {
	    padding: 25px 30px;
	    width: 100%;
	    border-bottom: 1px solid #ccc;
	}

	

	.loan-form {
		padding: 30px 20px;

		input[type="text"], input[type="tel"], input[type="email"], select {
			margin-bottom: 15px;
		}

		.next-btn {
			button {
				width: 100%;
			}
		}
	}

	.name-profile {
		margin-right: -15px;

		span {
			margin-top: 0;
			padding: 10px 0;
		}

		.profile-thumb {
			display: none;
		}
	}

	.dash-menu {
		margin-right: 0;
	}

	.interest-amt-calc {
		.interest, .total-amt {
			p {
				font-size: 1.275em;
			}
		}
	}

	.loan-app {
		img {
			width: 30%;
		}
	}

	.update-form {
		label {
			margin-top: 0;
		}

		.divider {
			margin-top: 20px;
		}
	}

	.filters {
		text-align: left;

		.from {
		    display: inline-block;
		    margin-left: 0;
		    position: relative;
		    width: 135px;
		    margin-right: 0px;

		    input[type="text"] { 
		    	width: 130px;
		    }

		    span {
			    float: none;
			    display: block;
			    margin-top: 8px;
			    margin-right: 10px;
			}
		}
	}

	.transaction-table {
		margin-top: 10px;
	}

	.transactions {
	    padding: 30px 0 100px;
	}

	.acct-det {
		p.act-bal {
		    font-size: 1.275em !important;
		}

		&.first {
			width: 100%;
		    border-bottom: 1px solid #ccc;
		    border-right: none;
		    padding: 15px 20px 15px;
		}

		&.sec {
			width: 50%;
		    padding: 15px 20px 15px;
		}
	}

	.account-section, .graph-section {
		width: 100%;
		margin-bottom: 20px;
	}

	.acct-breakdown {
	    padding: 20px 15px;
	}

	.ledger-bal {
		p {
			font-size: 1.65em;
		}
	}
	
}


